name: CI - Verificar C贸digo PHP

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar c贸digo do reposit贸rio
        uses: actions/checkout@v3

      - name: Configurar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Verificar se o c贸digo PHP tem erros
        run: php -l index.php

  discord:
    runs-on: ubuntu-latest
    steps:
      - name: Enviar mensagem para o Discord
        uses: Ilshidur/action-discord@master
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          message: |
             Novo push em **${{ github.repository }}**
             Autor: ${{ github.actor }}
             Mensagem: ${{ github.event.head_commit.message }}
             [Ver no GitHub](${{ github.event.head_commit.url }})